div {
    background-color: burlywood;
    padding: 15px;
    margin: 15px;
}

button {
    background-color: blue;
    color: whitesmoke;
    height: 30px;
    border: none;
    width: 100px;
    border-radius: 8px;
}

.target{
    background-color: darkkhaki;
    padding: 10px;
    width: 50%;
    /* display: flex; */
    align-items: center;
    justify-self: center;
    justify-items: center;

}
.target li{
    font-size: 26px;
    font-weight: 700;
    font-style: oblique;
    color: green;
}